$primary: #1554d5;
$primary-hovered: #1d62f1;
$primary-focused: #0072fd;
$red-hovered: rgb(255 90 84 / 90%);
$primary-pressed: #174ebf;
$primary-disabled: #d0d3db;

$secondary-hovered: #e8effe;
$secondary-focused: #d9eaff;

$black: #2c303a;
$gray-300: #757b8c;
$gray-200: #d0d3db;
$gray-100: #e9ecef;
$gray-50: #f3f5f6;
$blue-1: #2f80ed;
$green: #1bbea1;
$blue-2: #76a1f6;
$blue-3: #63b3df;
$blue-4: #76cff6;
$green-1: #5dd084;
$purple: #695bc0;
$white: #fff;
$orange: #ffa113;
$red: #ff5a54;
$green-2: #006992;
$yellow: #e8d55f;
$orange-2: #e59256;
$green-2: #9ad0c6;
