.simpleModal {
  &__content {
    flex-grow: 1;
    &_noPadding {
      padding: 0;
    }
  }
  &_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    &_cancelButton {
      margin-left: 20px;
    }
  }
}
